@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');
body {
    background: darkgrey;
}
#calculator-heading{
    font-family: Cousine, monospace;
    text-align: center;
    margin-top: 30px;
}
#calculator{
    margin: auto;
    text-align: center;

    position: relative;

    height: 100px;
}
#main-calulator-div {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(6, auto);
    justify-content: center;
    align-content: center;
    width: 365px;
    height: auto;
    position: block;
    margin: auto;
    border-radius: 10px;
    color:#ecf0f1;
    border-radius:5px;
    border:solid 2px #3d4246;
    background:#87949c;
    text-align:center;
    padding:16px 18px 14px;
    box-shadow: 0px 6px 0px #4a4f5a;
}
#result-area {
    grid-column: 1/5;
    width: 340px;
    background-color: rgb(204, 197, 197);
    color: rgb(42, 82, 35);
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0px 6px 0px #676e6e;
    border-radius: 5px;
    max-width: 340px;
}
#result {
    padding-right: 10px;
}
.calc {
    margin: 10px;
    height: 70px;
    width: 70px;
    font-family: Cousine, monospace;
    font-weight: bold;
    font-size: 20px;
}
.operation {
    background:#2246e6;
    border:solid 1px #4863ff;
    box-shadow: 0px 6px 0px #0e00d3;
}
.operation:active {
    box-shadow: 0px 2px 0px #0e00d3;
}
.other:active {
    box-shadow: 0px 2px 0px #1d573b;
}
.other {
    background:#13ac2c;
    border:solid 1px #169b49;
    box-shadow: 0px 6px 0px #1d573b;    
}
#delete-button {
    grid-column: 2/4;
    width: auto;
}
button {
    position:relative;
    outline: none;
    width: auto;
    color:#ecf0f1;
    border-radius:5px;
    border:solid 1px #f39c12;
    background:#e67e22;
    text-align:center;
    padding:16px 18px 14px;
    transition: all 0.1s;
    box-shadow: 0px 6px 0px #d35400;
}
button:hover {
    transform: scale(1.05);
}
button:active {
    box-shadow: 0px 2px 0px #d35400;
    position:relative;
    top:4px;
}
#equals-button {
    grid-column: 3/5;
    width: auto;
}